/* Navbar burger lines pretas */
.navbar-burger span {
  background-color: black;
}

.navbar-burger.is-active span {
  background-color: black;
}

.navbar-custom {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
}

