.box {
  background-color: rgb(255, 255, 255);

  border-radius: 8px;
  padding: 1rem;

  width: calc(100% - 4rem); /* largura da tela menos margem lateral */
  margin: 4rem auto; 
}

.Bboxx {
  overflow-wrap: break-word;
}
